<ul id="slide-out" class="sidenav sidenav-fixed fondohab">
    <li><a href="/" class="white-text menu-font-style">SAMORA<i class="material-icons white-text ">format_align_justify</i></a>
        <a href="#!" class="white-text btn-font-style">Usuario<i class="material-icons white-text">person</i></a>
        <a href="/admon" class="white-text btn-font-style">Volver inicio<i class="material-icons white-text ">arrow_back</i></a>
    </li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header white-text btn-font-style">Administra Hotel<i class="material-icons white-text">view_quilt</i></a>
                <div class="collapsible-body">
                    <ul class="fondohab">
                        <li><a href="#" class="white-text btn-font-style">Servicios</a></li>
                        <li><a href="/reservaciones" class="white-text btn-font-style">Reservaciones</a></li>
                        <li><a href="/catalogo/habitacion/ver" class="white-text btn-font-style">Habitaciones</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
   
</ul>
