<div id="containerForm" class="my-basic hide fondohab">
    <form id="formDetalleCuenta" action="/catalogo/habitacion/" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s12">
                <input id="cantidad" name="cantidad" type="text" class="validate">
                <label for="cantidad">Cantidad</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s4">
                <input id="servicio" name="servicio" type="text" class="validate">
                <label for="servicio">Servicio</label>
            </div>
            <div class="input-field col s4">
                <input id="precio" name="precio" type="text" class="validate">
                <label for="precio">Precio</label>
            </div>
            <div class="input-field col s4">
                <input id="total" name="total" type="text" class="validate">
                <label for="total">Total</label>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col s1 offset-s10">
            <button type="submit" id="btnGuardar"
                class="little-font-style fondo-edit waves-effect waves-light btn my-basic mx-basic ">Registrar</button>
        </div>
        <div class="col s1">
            <button id="btnCancelar" class="little-font-style fondo-edit2 waves-effect waves-light btn my-basic mx-basic black-text">Cancelar</button>
        </div>
    </div>
</div>