<div id="containerTable" class="card mx-basic my-basic fondohab white-text">
    <div class="row">
        <div class="col s1 offset-s11">
            <button  id="btnNuevo"
                class="waves-effect waves-light btn my-basic mx-basic fondo-edit2 btn-font-style black-text">Nuevo</button>
        </div>
    </div>
  <div class="row">
    <div class="col s12">
        <table class="btn-font-style">
            <thead>
                <th>
                    <tr>
                        <td>#</td>
                        <td>Cantidad</td>
                        <td>Servicio</td>
                        <td>Precio</td>
                        <td>Total</td>
                        <td>Accion</td>
                    </tr>
                </th>
            </thead>
            <tbody id="data">
            </tbody>
        </table>
    </div>
  </div>
</div>