<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../comunes/componentes/herder-special") -%>
</head>

<body>
    <%- include("../habitacion/components/barra-hab") -%>


    <%- include("../comunes/componentes/footer-components") -%>
</body>

</html>