<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../login/componentes/header-login.ejs") -%>
</head>

<body class="fondoini data-font-style color-secundary">
    <%- include("habitacion/components/barra_hab") -%>

    <h4 class="titulo-style color-secundary paddingtitle">BIENVENIDO</h4>
    <%- include("comunes/componentes/footer-components") -%>
</body>

</html>