<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("comunes/componentes/headers-components") -%>
</head>
<body>
    <%- include("comunes/componentes/form-component")  -%> 
    <%- include("comunes/componentes/table-component",{records}) %>

    <script src="/assets/js/form.js"></script>
</body>

</html>