<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/fonts.css">
    <link rel="stylesheet" href="assets/css/habitaciones.css">
    <link rel="stylesheet" href="assets/css/inicio.css">

    <title>Nuestras habitaciones</title>
</head>
<body class="fondo-hab elementos-dispos">

    <div class="espacio-titles espacio-entre">
        <label class="color-secundary subtitulo-style">Conoce nuestras habitaciones</label>
        <label class="color-secundary titulo-style">SAMORA</label>
    </div>

    <div class="espacio-titles">
        <div class="hab-altura">
            <div class="div-hab menu-font-style espacio-titles Space-Element">
                <img class="icon-hab-style" src="assets/img/hab1.jpg"> 
                <span class="div-datos">
                    <label class="data-font-style color-primary">Nombre</label> 
                    <p class="btn-font-style color-primary">Descripción de la habitacion</p>
                    <button class="color-secundary boton-reservacion btn-font-style">Disponible para reservar</button>
                </span>
             </div>
        
             <div class="div-hab menu-font-style espacio-titles Space-Element">
                <img class="icon-hab-style" src="assets/img/hab2.jpg"> 
                <span class="div-datos">
                    <label class="data-font-style color-primary">Nombre</label> 
                    <p class="btn-font-style color-primary">Descripción de la habitacion</p>
                    <button class="color-secundary boton-reservacion btn-font-style">Disponible para reservar</button>
                </span>
            </div>
    
            <div class="div-hab menu-font-style espacio-titles Space-Element">
                <img class="icon-hab-style" src="assets/img/hab3.jpg"> 
                <span class="div-datos">
                    <label class="data-font-style color-primary">Nombre</label> 
                    <p class="btn-font-style color-primary">Descripción de la habitacion</p>
                    <button class="color-secundary boton-reservacion btn-font-style">NO disponible</button>
                </span>
            </div>
        </div>

    <div class="hab-altura">
        
        <div class="div-hab menu-font-style espacio-titles Space-Element">
            <img class="icon-hab-style" src="assets/img/hab3.jpg"> 
            <span class="div-datos">
                <label class="data-font-style color-primary">Nombre</label> 
                <p class="btn-font-style color-primary">Descripción de la habitacion</p>
                <button class="color-secundary boton-reservacion btn-font-style">Disponible para reservar</button>
            </span>
        </div>
    
        <div class="div-hab menu-font-style espacio-titles Space-Element">
            <img class="icon-hab-style" src="assets/img/hab1.jpg"> 
            <span class="div-datos">
                <label class="data-font-style color-primary">Nombre</label> 
                <p class="btn-font-style color-primary">Descripción de la habitacion</p>
                <button class="color-secundary boton-reservacion btn-font-style">Disponible para reservar</button>
            </span>
        </div>
    
        <div class="div-hab menu-font-style espacio-titles Space-Element">
            <img class="icon-hab-style" src="assets/img/hab2.jpg"> 
            <span class="div-datos">
                <label class="data-font-style color-primary">Nombre</label> 
                <p class="btn-font-style color-primary">Descripción de la habitacion</p>
                <button class="color-secundary boton-reservacion btn-font-style">Disponible para reservar</button>
            </span>
        </div>

     </div>

    </div>
   
</body>
</html>