<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/inicio.css">
    <title>Inicio</title>
</head>

<body class="fondo-inicio elementos-dispos">

    <header>

        <%-include ("comunes/componentes/barra_lateral",{isAdmin: admin}) -%>

    </header>

    <span class="botones-altura">
        <a href="/loggin/signin" class="boton-ini-style color-primary label-font-style">Inicia sesión</a>
        <a href="/" class="boton-res-style color-secundary label-font-style">Registrate</a>
    </span>

</body>

</html>