<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("comunes/componentes/headers-components") -%>
</head>
<body class="container">

    <%- include("comunes/componentes/form-component.ejs")  -%>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Precio</th>
                <th>Capacidad</th>
                <th>Descripcion</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody id="data"></tbody>
    </table>

</body>
</html>