<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("comunes/componentes/headers-components") -%>
   
    <title>Ingresa habitaciones</title>
</head>
<body>
    <%- include("comunes/componentes/formulario-component") -%>
    
    <script src="/assets/js/form.js"></script>
</body>
</html>