<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("comunes/componentes/headers-components") -%>

        <title>Ve las habitaciones</title>
</head>

<body>
    <main>
        <h1>habitaciones</h1>
        <%- include("comunes/componentes/form-component")-%>
            <%-include("comunes /componentes/table-component")-%>
    </main>
    <script src="/assets/js/http.js"></script>
    <script src="/assets/js/form.js"></script>

</body>

</html>