<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/fonts.css">
    <link rel="stylesheet" href="assets/css/menu.css">
    <link rel="stylesheet" href="assets/css/inicio.css">

    <title>HOTEL SAMORA</title>
</head>
<body class="fondo-back elementos-dispos">
    <div class="espacio-titles ">
        <label class="color-primary titulo-style">SAMORA</label>
        <div class="div-menu">
            <label class="color-primary subtitulo-style">MENÚ</label>
            <img class="icon-menu-style" src="assets/img/menu.png">
        
                <ul>
                    <a href=""><li>El hotel</li></a>
                </ul>
            </div>
        </div>
    </div>
    <div class="botones-altura fondo-menu menu-size">
        <button class="menu-font-style boton-sn-style color-secundary">El Hotel</button>
        <button class="menu-font-style boton-sn-style color-secundary">Servicios</button>
        <button class="menu-font-style boton-sn-style color-secundary">Habitaciones</button>
        <p class="color-secundary data-font-style">
            Costa Cumana, Lote A24
            La Ventanilla
            Puerto Escondido, Oaxaca
            +52 (958) 587 8203
        </p>
    </div>   
</body>
</html>