<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/estilos_QS.css">
    <title>Sobre nosotros</title>
</head>

<body class="fondo-QS">

    <header>

        <%-include ("comunes/componentes/barra_lateral") -%>

    </header>

    <form>

        <div class="divArriba">

            <h1 class="titulo-styleQS divTituloQ_S">QUIENES SOMOS</h1>
    
        </div>
    
        <div class="ajustarDivQS paddQS divDatosQ_S">
    
            <div class="difuminadoQS orillasQS">
    
                <p class="encabezadosQS encabezados_parrafosQS">
                    Historia:
                </p>
    
                <p class="parrafosQS data-font-styleQS">
                    Samora es un hotel ubicado en Puerto Escondido, fue fundado por Don Margarito Samora en 1993,
                    desde entonces, se ha encargado de brindar a sus clientes una experiencia única e inolvidable.
                </p>
    
            </div>
    
            <div class="difuminadoQS orillasQS">
    
                <p class="encabezadosQS encabezados_parrafosQS">
                    Dirección:
                </p>
    
                <p class="parrafosQS data-font-styleQS">
                    Avenida Siempreviva 742, Colonia San Jacinto, Puerto Escondido, Oaxaca
                </p>
    
            </div>
    
            <div class="difuminadoQS orillasQS">
    
                <p class="encabezadosQS encabezados_parrafosQS">
                    Teléfonos:
                </p>
    
                <p class="parrafosQS data-font-styleQS">
                    Nuestros números de servicio con atención las 24 horas del día son:
                    <br><br>
                    - 9512874372
                    <br>
                    - 9513758027
                </p>
    
            </div>
    
        </div>
    
        </div>

    </form>

</body>

</html>