<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/fonts.css">
    <link rel="stylesheet" href="assets/css/Quienes_somos.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quienes somos</title>
</head>

<body>

    <div class="espacio-titles">
        <label class="titulo-style">SAMORA</label>
        <div class="div-menu">
            <label class="color-primary subtitulo-style">MENÚ</label>
            <img class="icon-menu-style" src="assets/img/menu.png">
        </div>
    </div>

    <div class=titulo>
        <h1 class = subtitulo-style>Quienes somos</h1>
    </div>

    <div class="columnas">

        <div class="columnaHistoria pdIzq">

            <img class="imgSize" src="assets/img/Alberca.png">
    
            <p class="encabezados subsubtitulo-style">
                Historia:
            </p>

            <p class="parrafos parrafos data-font-style">
                Samora es un hotel ubicado en Puerto Escondido, fue fundado por Don Margarito Samora en 1993,
                desde entonces, se ha encargado de brindar a sus clientes una experiencia única e inolvidable.
            </p>
    
        </div>
    
        <div class=columnaDireccion>
    
            <img class="imgSize" src="assets/img/Huésped.png">
    
            <p class="encabezados subsubtitulo-style">
                Dirección:
            </p>

            <p class="parrafos data-font-style">
                Avenida Siempreviva 742, Colonia San Jacinto, Puerto Escondido, Oaxaca
            </p>
    
        </div>
    
        <div class="columnaTelefonos pdDer">
    
            <img class="imgSize" src="assets/img/Cuarto.png">
    
            <p class="encabezados subsubtitulo-style">
                Teléfonos:
            </p>

            <p class="parrafos data-font-style">
                - 9512874372
                <br>
                - 9513758027
            </p>
        </div>

    </div>

</body>

</html>