<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="assets/img/Estilo.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quienes somos</title>
</head>

<body>

    <div>
        <h1 class="titulo">Quienes somos</h1>
        <div></div>
    </div>

    <div>
        <img class="alberca espacioImagen" src="assets/img/Alberca.png">

        <img class="cuarto espacioImagen" src="assets/img/Cuarto.png">

        <img class="huesped espacioImagen" src="assets/img/Huésped.png">
    </div>

    <div class=parrafos>
        <p class = pHistoria>
            Historia:
            <br><br>
            Samora es un hotel ubicado en Puerto Escondido, fue fundado por Don Margarito Samora en 1993,
            desde entonces, se ha encargado de brindar a sus clientes una experiencia única e inolvidable.
        </p>

        <p class = pDireccion>
            Dirección:
            <br><br>
            Avenida Siempreviva 742, Colonia San Jacinto, Puerto Escondido, Oaxaca
        </p>

        <p class = pTelefonos>
            Teléfonos:
            <br><br>
            - 9512874372
            <br>
            - 9513758027
        </p>
    </div>

</body>

</html>