<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/reporte.css" />
    <title>Registro</title>
    <script>
        src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.js"
    </script>
</head>

<body>
    <header>
        <%-include ("comunes/componentes/barra_lateral3") -%>
    </header>

    <div>
        <canvas id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <div class="todoAlto">
        <div class="columnaBlancaAzul">
            <div class="divBlanco">
                <div class="blancoLetrero">
                    <label class="fuenteTitulo"> GANANCIAS TOTALES </label>
                </div>
                <div class="blancoImagen centrarImgLobby">

                </div>
            </div>

        </div>
    </div>
</body>
<script src="/assets/js/reporte/reporte.js"></script>
</html>