<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("comunes/componentes/headers-components")-%>
    <link rel="stylesheet" href="assets/css/reservaciones.css"/>
    <title>
        Nuestras Reservaciones
    </title>
</head>
<body class="background-reservation">
    <div class="container-title">
        <h1 class="title-reservations">Reservaciones</h1>
    </div>

<section class="reservation-container">
    <div class="reservation-container-grid">
        <div class="reservation-target center-element">
            <div>
        <p class="name-reservation">RS1</p>
        <p class="name-client">Nombre del cliente</p>
    </div>
    </div>

    <div class="reservation-target center-element">
        <div>
        <p class="name-reservation">RS1</p>
        <p class="name-client">Nombre del cliente</p>
    </div>
    </div>

    <div class="reservation-target center-element">
        <div>
        <p class="name-reservation">RS1</p>
        <p class="name-client">Nombre del cliente</p>
    </div>
    </div>

    <div class="reservation-target center-element">
        <div>
        <p class="name-reservation">RS1</p>
        <p class="name-client">Nombre del cliente</p>
    </div>
    </div>


    <div class="reservation-target center-element">
        <div>
        <p class="name-reservation">RS1</p>
        <p class="name-client">Nombre del cliente</p>
    </div>
    </div>

    <div class="reservation-target center-element">
        <div>
        <p class="name-reservation">RS1</p>
        <p class="name-client">Nombre del cliente</p>
    </div>
    </div>

    <div class="reservation-target center-element">
       <div>
        <p class="name-reservation">RS1</p>
        <p class="name-client">Nombre del cliente</p>
    </div>
    </div>
    </div>
</section>
</body>
</html>