<head>
    <%- include("login/componentes/header-login.ejs") -%>
</head>

<body class="fondoini data-font-style color-secundary">
    <%- include("login/componentes/barra-log") -%>

    <h4 class="titulo-style white-text paddingtitle">ACCESO DENEGADO</h4>
    <%- include("comunes/componentes/footer-components") -%>
</body>

</html>