<header>
    <!-- Parte de los encabezados de la derecha -->
    <div class="container">
        <!-- Ajusta el botón de menú a la altura del logo -->
        <div class="btn-menu">
            <label for="btn-menu">☰</label>
        </div>
        <div class="logo">
            <h1>SAMORA</h1>
        </div>
        <nav class="menu">
            <a href="#">Inicio</a>
            <a href="#">Nosotros</a>
            <a href="#">Blog</a>
            <a href="#">Contacto</a>
        </nav>
    </div>
</header>

<div>
    <div class="capa"></div>
    <!--	--------------->
    <input type="checkbox" id="btn-menu">
    <div class="container-menu">
        <div class="cont-menu">
            <nav>
                <a href="#">MENÚ</a>
                <a href="#">Servicios</a>
                <a href="/catalogo/habitacion/ver">Habitaciones</a>
                <a href="#">Mi cuenta</a>
            </nav>
            <label for="btn-menu">✖️</label>

        </div>
    </div>

</div>