<ul id="slide-out" class="sidenav sidenav-fixed fondohab ">
    <li><a href="#!">User<i class="material-icons">person</i></a></li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Administración<i class="material-icons">view_quilt</i></a>
                <div class="collapsible-body">
                    <ul class="fondohab">
                        <li><a href="">Servicios</a></li>
                        <li><a href="#!">Reservaciones</a></li>
                        <li><a href="/catalogo/habitacion/ver">Habitaciones</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
   
</ul>
