<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../login/componentes/header-login.ejs") -%>
</head>

<body class="">
  <%- include("../login/componentes/barra-log.ejs")-%>
    <main class="fondo-login">
      <div class="row">
        <form class="todoAlto" method="post" action="/loggin">
          <div class="camposform">

            <div class="input-field">
              <i class="material-icons prefix">account_circle</i>
              <!-- <input id="correo" name="correo" type="text" value="uygyugy@gmail.com" class="validate white-text"> -->
              <input id="correo" name="correo" type="text" value="admin@samora.com" class="validate white-text">
              <label for="correo">Usuario</label>
            </div>
            <div class="input-field">
              <i class="material-icons prefix">grain</i>
              <!-- <input id="contrasenia" name="contrasenia" value="4ky35g6wqp9" type="password" class="validate white-text"> -->
              <input id="contrasenia" name="contrasenia" value="adminSamora@01" type="password" class="validate white-text">
              <label for="contrasenia">Contraseña</label>
            </div>
            <div>
              <button class="btn fondolog " type="submit" name="action">Entrar
                <i class="material-icons right">send</i>
              </button>
            </div>
            <div class="credenciales">
              <% if(error==1){ %>
                <span class="span-padding">Credenciales incorrectas</span>
                <% } %>
            </div>

          </div>

        </form>
      </div>
    </main>
    <%- include("../comunes/componentes/footer-components.ejs") -%>
</body>

</html>