<head>
</head>

<body>
  <header>

      <%-include ("../comunes/componentes/barra_lateral") -%>

  </header>

  <div class="row">
    <form class="col s12" method="post" action="/loggin">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="correo" name="correo" type="text" class="validate">
          <label for="correo">Correo</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">grain</i>
          <input id="contrasenia" name="contrasenia" type="password" class="validate">
          <label for="contrasenia">Contraseña</label>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light" type="submit" name="action">Inicia sesión
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
    <% if(error==1){ %>
      <span>Credenciales incorrectas</span>
    <% } %>
  </div>

  <%- include("../comunes/componentes/footer-components.ejs") -%>
</body>

</html>