    <header>
        <!-- Parte de los encabezados de la derecha -->
        <div class="container">
            <!-- Ajusta el botón de menú a la altura del logo -->
            <div class="btn-menu">
                <label for="btn-menu">☰</label>
            </div>
            <div class="logo">
                <h1>SAMORA</h1>
            </div>
            <nav class="menu">
                <a href="/">Inicio</a>
                <a href="/quienes-somos">Nosotros</a>
                <a href="https://www.samoraluxuryresort.com/">Blog</a>
            </nav>
        </div>
    </header>

    <div>
        <div class="capa"></div>
        <!--	--------------->
        <input type="checkbox" id="btn-menu">
        <div class="container-menu">
            <div class="cont-menu">
                <nav>
                    <a href="#">MENÚ</a>
                    <a href="#">Reserva de habitaciones</a>
                    <a href="/habitaciones">Nuestras habitaciones</a>
                    <a href="#">Mi cuenta</a>
                    <a href="#">Servicios</a>
                </nav>
                <label for="btn-menu">✖️</label>

            </div>
        </div>

    </div>

