<div id="containerForm">
    <form id="formHab" action="/regresa/habitacion/" method="post" enctype="multipart/form-data">
        <div>
            <div >
                <input id="precio" name="precio" type="text" class="validate">
                <label for="precio">Precio</label>
            </div>
        </div>
        <div>
            <div>
                <input id="descripcion" name="descripcion" type="text" class="validate">
                <label for="descripcion">Descripción</label>
            </div>
            <div>
                <input id="estado" name="estado" type="text" class="validate">
                <label for="estado">Estado</label>
            </div>
        </div>
    </form>
    <div class="row">
        <div>
            <button type="submit" id="btnGuardar">Registrar</button>
        </div>
    </div>
</div>
