<div id="containerTable">
  <div>
    <div>
        <table>
            <thead>
                <th>
                    <tr>
                        <td>#</td>
                        <td>Precio</td>
                        <td>Capacidad</td>
                        <td>Descripción</td>
                        <td>Estado</td>
                        <td>Acción</td>
                    </tr>
                </th>
            </thead>
            
            <tbody id="data">
                
            </tbody>
        </table>
    </div>
  </div>
</div>
<script src="/assets/js/http.js"></script>
<script src="/assets/js/main.js"></script>