<div style="
        height: 100%;
        margin: 0px;
        padding: 0px;">
    <div style=" 
            height: 20%;
            margin: auto;
            background-color: linear-gradient(45deg, #D84315, #F57C00);
        "></div>
    <div style="position: relative;
        top: -10%;
        margin: 0 auto;
        width: 100%;
                height: 100%;">
        <div style="height: 100%;
            background-color: white;
            text-align: center;
            padding: 2rem">
            <div>
                <img style="max-height: 120px;"
                    src="https://ibb.co/vmwM13j"
                    alt="get" />
            </div>
            <div style="text-align: center;">
                <p style="font-size: 2rem;
                    font-weight: bold;
                    margin-top: 0;">
                    Bienvenido al hotel SAMORA
                </p>
                <p>
                    Te hemos enviamos el correo debido a que se ha dado de alta tu reservación
                    (este
                    es el correo con el que fuiste dado de alta).
                    anexamos la contraseña por defecto.
                </p>
                <p>
                    No olvides cambiar tu contraseña la primera vez que ingreses.
                </p>
                <div style="font-size: 1.3rem">
                    <p>Correo: <b>
                            <%=correo %>
                        </b></p>
                    <p>Contraseña: <b>
                            <%=contrasenia %>
                        </b></p>
                </div>
                <p>
                    Cualquier duda o aclaración ponte en contacto con un administrador o envía un correo a
                    <a href="mailto:salazar.vasquez.viviana@gmail.com">salazar.vasquez.viviana@gmail.com</a>
                </p>
            </div>
            <p class="text" style="float: bottom;">Copyright © 2022 Hotal SAMORA Derechos Reservados.</p>

        </div>
    </div>
</div>